.aboutnew{
    width: 100%;
    height: 100vh;
}

.about {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap:18rem;
    // background-color: red;
}