.profile-container {
  width: 100%;
 
  .event-head {
    font-size: 32px;
    @media (max-width:1300px){
      font-size: 22px;
    }
  }
  .swiper-wrapper {
    padding-bottom: 5%;
    @media(max-width:1300px){
      padding-bottom: 10%;
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    width: 35px !important;
    height: 35px !important;
    // background-color: #225649;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    top: 388px !important;
    color: #ffffff !important;
    padding: 1%;
    @media(max-width:1700px){
      top: 375px !important;
    }
    @media(max-width:1600px){
      top: 368px !important;
      width: 25px !important;
      height: 25px !important;
    }

    @media(max-width:1350px){
      top: 380px !important;
      width: 28px !important;
      height: 28px !important;
    }
    // @media(max-width:1240px){
    //   top: 330px !important;
  
    // }
    @media(max-width:900px){
      top: 180px !important;
  
    }
  }
  
  .swiper-button-next {
    right: 46% !important;
    // right: 47% !important;
    @media(max-width:1300px){
      right: 43% !important;
    }
    @media(max-width: 900px){
      right: 8% !important;
    }
  }
  .swiper-button-prev {
    left: 46% !important;
    // left: 46% !important;
    @media(max-width:1300px){
      left: 43% !important;
    }
    @media(max-width:900px){
      left: 8% !important;
    }
  }
  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 15px !important;
    color: #2a2a2a;
  }
}



.events-container {
  .event-box {
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: center;

    .events-data {
      .card {
        margin-top: 3vh;
        width: 23vw;
        border: 1px solid #cdcdcd;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        padding: 25px;
        gap: 15px;
        @media (max-width: 1620px) {
        width: 23vw;
        }

        @media (max-width: 1350px) {
          width: 30vw;
          overflow: hidden;
          // padding: 20px;
          // padding: 15px;
          // margin-top: 1.5vh;
        }
        @media(max-width: 900px){
          width: 40vw;
          // margin: 0 auto;
        }
        .box1 {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 40px;
          .usericon {
            width: 100px;
            img {
              width: 100%;
              @media(max-width:1700px){
                width: 90px;
              }
              @media(max-width:1600px){
                width: 85px;
              }
              @media(max-width:1400px){
                width: 80px;
              }
              @media(max-width:1200px){
                width: 75px;
              }
              @media(max-width:1000px){
                width: 70px;
            }
          }
          }
          .content {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            gap: 13px;
            .identity {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              h6 {
                font-size: 24px;
                @media(max-width:1700px){
                  font-size: 22px;
                }
                @media(max-width:1600px){
                  font-size: 21px;
                }
                @media(max-width:1400px){
                  font-size: 20px;
                }
                @media(max-width:1200px){
                  font-size: 19px;
                }
                @media(max-width:1000px){
                  font-size: 17px;
                }
             
              }
              p {
                font: 18px;
                @media(max-width:1700px){
                  font-size: 17px;
                }
                @media(max-width:1600px){
                  font-size: 16px;
                }
                @media(max-width:1400px){
                  font-size: 15px;
                }
                @media(max-width:1200px){
                  font-size: 14px;
                }
                @media(max-width:1000px){
                  font-size: 13px;
                }
            
              }
          
            }
            .verified {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 4px;
              img {
                width: 28px;
              }
            }
          }
        }
        .box2 {
          display: flex;
          justify-content: flex-start;
          gap: 40px;
          .left,
          .middle,
          .right {
            display: flex;
            flex-direction: column;
            gap: 10px;
          }
        }
        .box3 {
          padding-top: 2%;

          a {
            u {
              font-weight: 500;
              color: #2a2a2a;
            }
          }
        }
      }
    }
  }
}
