.ctc-search{
    display: flex;
    flex-direction: column;
    gap: 10px;
    h5{
        font-size: 13.5px;
        @media(max-width: 1700px){
            font-size: 12.5px;
        }
    
        @media(max-width: 1300px){
            font-size: 11.5px;
        }
    }

    input{
        height: 35px;
        width: 100%;
    }
}